* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --buttonColor: rgb(18, 105, 175);
  --buttonHoverColor: rgb(8, 61, 104);
}
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgb(153, 142, 128);
}

#root {
  width: 75%;
  padding: 1rem;
}

#container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}

#underline {
  width: 5rem;
  height: 0.2rem;
  background-color: rgb(34, 97, 97);
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

/*#region ImgDiv */
#imgDiv {
  width: 50%;
  display: grid;
  justify-items: center;
}

#imgSpan1 {
  display: grid;
  grid-template-columns: 15% 85%;
  justify-items: flex-start;
  height: 10rem;
}

#imgSpan2 {
  width: 100%;
  display: grid;
  justify-items: flex-end;
}
/* "" */
#imgSpan3 {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  z-index: 1;
  background-color: rgb(26, 32, 116);
  color: white;
  border-radius: 3rem;
  font-size: 4rem;
  border: 2px solid black;
  position: relative;
  left: 0.5rem;
}
#imgSpan4 {
  background-color: rgb(26, 32, 116);
  border-radius: 5rem;
  display: grid;
  justify-items: flex-start;
  width: 10rem;
}

#img {
  width: 10rem;
  height: 10rem;
  border-right: 2px solid black;
  border-radius: 5rem;
  object-fit: cover;
  position: relative;
  right: 0.5rem;
}
/*#endregion ImgDiv */

/*#region nameDiv */

#nameDiv {
  display: grid;
  justify-items: center;
}
#name {
  font-size: 1.2rem;
  font-weight: bold;
}
#job {
  color: rgb(72, 86, 126);
}

/*#endregion nameDiv */

#letter {
  min-height: 7rem;
}

/*#region buttonDiv */

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--buttonColor);
  cursor: pointer;
  transition: all 0.5s;
}
.buttons:hover {
  color: var(--buttonHoverColor);
}
#arrowDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
#buttonDiv {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
/*#endregion buttonDiv */

/*#region media */

@media (max-width: 530px) {
  #root {
    width: 100%;
  }
  #container {
    grid-gap: 1rem;
  }
  #imgSpan1 {
    height: 5rem;
  }
  #imgSpan3 {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3rem;
    font-size: 1.8rem;
  }
  #imgSpan4 {
    border-radius: 5rem;
    width: 5rem;
    height: 5rem;
  }
  #img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
  }
  #name {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

/*#endregion media */
